body{
    background-color: burlywood;
}

.game--image {
    margin-top: 500px;
    margin-left: 2750px;
    margin-right: 10px;
}

.game--container {
    position: relative;
}

.square--div {
    z-index: 1;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid black;
}

#fib1 {
    top: 54%;
    left: 43.75%;
}

#fib2 {
    top: 46%;
    right: 36.25%;
}

#fib3 {
    top: 49%;
    right: 24.25%;
}

#fib4 {
    top: 53%;
    right: 13.75%;
}

#fib5 {
    top: 43%;
    right: 1.25%;
}


