body{
    background-color: burlywood;
}

.game--image {
    margin-top: 500px;
    margin-left: 2750px;
    margin-right: 150px;
}

#game--container {
    position: relative;
}

.square--div {
    z-index: 3;
    position: absolute;
    width: 100px;
    height: 100px;
    border: none;
}

#fib1 {
    top: 54%;
    left: 42.85%;
}

#fib2 {
    top: 46%;
    right: 37.5%;
}

#fib3 {
    top: 49%;
    right: 25.8%;
}

#fib4 {
    top: 53%;
    right: 15.4%;
}

#fib5 {
    top: 43%;
    right: 3.4%;
}

#question--div {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
}

#question--div>button {
    border: none;
    background-color: black;
    color: white;
}

#question--div>button:hover {
    background-color: grey;
}

.click--message {
    position: fixed;
    top: 20%;
    right: 41.7%;
    font-size: 30px;
    background-color: black;
    color: white;
}


